.DS_Store

.circleci
.husky

.editorconfig

.eslintignore
.eslintrc

.git
.github
.gitattributes
.gitignore

/node_modules
README.md

# NPM
.npmignore

# NVM
.nvmrc

# Deps
.depsrc

# Docs
/docs

# JSON
/json
.users-exports
.users-imports
.validate

# Shell
/scripts/*.sh

# SSH
*.pem

# Docker
.dockerignore
Dockerfile
docker-compose.yml
