.DS_Store

**/node_modules/*
**/npm-debug.log

# User-defined NPM configuration
.npmrc

# User-defined NVM configuration
.nvmrc

# Deps
.depsrc

# MariaDB
/connection.json
/connection.*.json

# JSON
/json
.users-imports
.users-exports
.validate

# Environment
.env
!.env.default
